@page "/employees"

<h1>Workers List</h1>
<br>

@if (_employees == null)
{
    <p>Click Load to see all employees</p>
}
else
{
    <p>Currently @_employeesCount employees work</p>
}
<span>
    <button class="btn btn-primary" @onclick="GetEmployees">Load</button>
    <br>
    <br>
    <p>Click Add new to add new employee</p>
    <button class="btn btn-primary" @onclick="AddEmployeesAction">Add new</button>
    <br>
</span>

@if (_employees != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Delete</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Hourly Wage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in _employees.OrderBy(e => e.LastName))
            {
                <tr>
                    <td>
                        <button class="btn btn-danger" @onclick="@(e => DeleteEmployee(employee))">x</button>
                    </td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Position</td>
                    <td>@employee.HourlyWage</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (isAddNewPressed)
{
    <EditForm Model="@_employeeToAdd">
        First Name: <InputText @bind-Value="@_employeeToAdd.FirstName" /><br />
        Last Name: <InputText @bind-Value="@_employeeToAdd.LastName" /><br />
        Position: <InputText @bind-Value="@_employeeToAdd.Position" /><br />
        Hourly Wage (int): <InputText @bind-Value="@_employeeToAdd.HourlyWage" /><br />
    </EditForm>
    <button class="btn btn-primary" @onclick="AddEmployees">Save changes</button>
}
