@page "/employees"
@using WorkLog.Bll.Models
@using WorkLog.Bll.Services
@using WorkLog.Dal.Entities
@using WorkLog.Dal.Repositories

<h1>Workers List</h1>
<br>

@if (_employees == null)
{
    <p>Click Load to see all employees</p>
}
else
{
    <p>Currently @_employeesCount employees work</p>
}
<span>
    <button class="btn btn-primary" @onclick="GetEmployees">Load</button>
    <br>
    <button class="btn btn-primary" @onclick="AddEmployeesAction">Add new</button>
    <br>
</span>

@if (_employees == null)
{

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Hourly Wage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in _employees.OrderBy(e => e.InternalId))
            {
                <tr>
                    <td>@employee.InternalId</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Position</td>
                    <td>@employee.HourlyWage</td>

                </tr>
            }
        </tbody>
    </table>
}
@if (isAddNewPressed)
{
    <EditForm Model="@employeeToAdd">
        <i>@_employeesNextId</i>
        First Name: <InputText @bind-Value="@employeeToAdd.FirstName" /><br />
        Last Name: <InputText @bind-Value="@employeeToAdd.LastName" /><br />
        Position: <InputText @bind-Value="@employeeToAdd.Position" /><br />
        Hourly Wage: <InputText @bind-Value="@employeeToAdd.HourlyWage" /><br />
    </EditForm>
    <button class="btn btn-primary" @onclick="AddEmployees">Save changes</button>
}


<b>Binding check:</b>
<p> First Name: @employeeToAdd.FirstName</p>
<p> Last Name: @employeeToAdd.LastName</p>
<p> Position: @employeeToAdd.Position </p>
<p> Hourly Wage: @employeeToAdd.HourlyWage</p>