@page "/employees"
@using WorkLog.Bll.Models
@using WorkLog.Bll.Services
@using WorkLog.Dal.Entities
@using WorkLog.Dal.Repositories

<h1>Workers List</h1>
<br>

@if (_employees == null)
{
    <p>Click Load to see all employees</p>
}
<span>
    <button class="btn btn-primary" @onclick="GetEmployees">Load</button>
    <br>
    <button class="btn btn-primary" @onclick="AddEmployeesAction">Add new</button>
    <br>
</span>

@if (_employees == null)
{

}
else
{
    <p>Currently @_employeesCount employees work</p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Hourly Wage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in _employees.OrderBy(e => e.InternalId))
            {
                <tr>
                    <td>@employee.InternalId</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Position</td>
                    <td>@employee.HourlyWage</td>

                </tr>
            }
        </tbody>
    </table>
}
@if (isAddNewPressed)
{
    <form acrion="">
        <table class="table">
            <tbody>
                <tr>
                    <td><i>@_employeesNextId</i></td>
                    <td><input type="text" id="fname" value=""></td>
                    <td><input type="text" id="lname" value=""></td>
                    <td><input type="text" id="position" value=""></td>
                    <td><input type="text" id="hourlyWage" value=""></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" @onclick="AddEmployees">Save changes</button>
    </form>

    <EditForm Model="@employeeToAdd" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
        <div class="alert @StatusClass">@StatusMessage</div>

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="FirstName">FirstName: </label>
            <InputText Id="name" Class="form-control" @bind-Value="@employeeToAdd.FirstName"></InputText>
            <ValidationMessage For="@(() => employeeToAdd.FirstName)" />
        </div>

        <div class="form-group">
            <label for="LastName">LastName: </label>
            <InputTextArea Id="body" Class="form-control" @bind-Value="@employeeToAdd.LastName"></InputTextArea>
            <ValidationMessage For="@(() => employeeToAdd.LastName)" />
        </div>
        <button type="submit">Ok</button>
    </EditForm>
}
